h3 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 2em;
}

.project-online,
.project-financed {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 100%;
  border: solid 1px lightgray;
  border-radius: 5px;
  margin-bottom: 2em;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);

  > .project-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;

    > img {
      border-radius: 5px 5px 0px 0px;
      max-width: 100%;
      max-height: 100%;
    }
  }

  > .project-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 5px 5px;
    background-color: rgb(238, 236, 236);
    height: 40%;

    > .project-flag {
      position: absolute;
      width: 11px;
      height: 8px;
      transform: translate(0px, -2px);
    }

    > .project-details-component {
      display: flex;
      max-height: 100%;
      height: 100%;
      width: 100%;

      > .project-details-component-summary {
        margin: 1rem;
        width: 30%;

        > .project-summary {
          font-size: 0.8rem;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;

          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
      }

      > .project-details-component-rate {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;
      }

      > .project-details-component-finance {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-end;
        margin: 1rem;
        width: 30%;

        > .toFinance {
          font-size: 0.8rem;
        }

        > .duration {
          font-size: 0.8rem;
        }

        //     //   height: 100%;
      }

      > .project-details-component-rate,
      .project-details-component-finance {
        > .circle:before {
          display: inline-block;
          position: relative;
          width: 12px;
          height: 12px;
          content: " ";
          border-radius: 50%;
        }

        > .A\+:before {
          border: 2px solid rgb(5, 220, 5);
        }
        > .A:before,
        .A-:before {
          background-color: rgb(5, 220, 5);
          border: 2px solid rgb(5, 220, 5);
        }
        > .B\+:before {
          border: 2px solid rgb(253, 188, 102);
        }
        > .B:before,
        .B-:before {
          background-color: rgb(253, 188, 102);
          border: 2px solid rgb(253, 188, 102);
        }
        > .C\+:before {
          border: 2px solid rgb(245, 93, 93);
        }
        > .C:before,
        .C-:before {
          background-color: rgb(245, 93, 93);
          border: 2px solid rgb(245, 93, 93);
        }
      }
    }
  }
}

.projects-financed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .project-financed {
    width: 47%;
  }
}
